{% extends "base.html" %}

{% block content %}
{% if artist %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ artist.name }}
      </h1>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">
		<h2 class="is-size-3">
			Releases
		</h2>

		<div class="columns">
			<div class="column is-one-quarter">
				<p class="is-size-4">
					Title
				</p>
			</div>
			<div class="column is-one-quarter">
				<p class="is-size-4">
					Label
				</p>
			</div>
			<div class="column is-one-quarter">
				<p class="is-size-4">
					Date
				</p>
			</div>
			<div class="column is-one-quarter">
				<p class="is-size-4">
					Format
				</p>
			</div>
		</div>

		{% for release in artist_releases %}
		<div class="box">
			<div class="columns">
				<div class="column is-one-quarter">
					<a href="/release/{{ release.release_id }}" class="button is-success">
						{{ release.title }}
					</a>
				</div>

				<div class="column is-one-quarter">
					<a href="/label/{{ release.label_id }}" class="button is-primary">
						{{ release.label_name }}
					</a>
				</div>

				<div class="column is-one-quarter">
					<p class="tag is-success is-light">
						{{ release.date }}
					</p>
				</div>

				<div class="column is-one-quarter">
					<p class="tag is-primary is-light">
						{{ release.format }}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
{% endblock %}