{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ genre.name }}
      </h1>
    </div>
  </div>
</section>

{% if subgenres %}
<section class="section">
	<div class="container">
		<h2 class="is-size-3">
			Subgenres
		</h2>

		<div class="columns is-multiline">
		{% for subgenre in subgenres %}
			<div class="column is-one-fifth">
				<a href="/subgenre/{{ subgenre.id }}" class="button is-primary">
					{{ subgenre.style_name }}
				</a>
			</div>
		{% endfor %}
		</div>

	</div>
</section>
{% endif %}



{% if genre_releases %}
<section class="section">
	<div class="container">
		<h2 class="is-size-3">
			Releases
		</h2>

		<div class="columns">
			<div class="column is-one-third">
				<p class="is-size-4">
					Title
				</p>
			</div>
			<div class="column is-one-third">
				<p class="is-size-4">
					Artist
				</p>
			</div>

			<div class="column is-one-third">
				<p class="is-size-4">
					Label
				</p>
			</div>
		</div>

		{% for release in genre_releases %}
		<div class="box">
			<div class="columns">
				<div class="column is-one-third">
					<a href="/release/{{ release.release_id }}" class="button is-primary">
						{{ release.title }}
					</a>
				</div>
				<div class="column is-one-third">
					<a href="/artist/{{ release.artist_id }}" class="button is-success">
						{{ release.artist_name }}
					</a>
				</div>

				<div class="column is-one-third">
					<a href="/label/{{ release.label_id }}" class="button is-warning">
						{{ release.label_name }}
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endif %}
{% endblock %}